.sidenav{
  color: #fff;
  height: 100vh;
  width: 4rem;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  text-align: center;
}